src/main/resources/wsdl/brw-2.wsdl

<?xml version='1.0' encoding='UTF-8'?><definitions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2" xmlns:wsrf-bf="http://docs.oasis-open.org/wsrf/bf-2" xmlns:wsn-bw="http://docs.oasis-open.org/wsn/bw-2" xmlns:wsn-brw="http://docs.oasis-open.org/wsn/brw-2" xmlns:wsn-br="http://docs.oasis-open.org/wsn/br-2" xmlns:wsn-b="http://docs.oasis-open.org/wsn/b-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns="http://schemas.xmlsoap.org/wsdl/" name="WS-BrokeredNotification" targetNamespace="http://docs.oasis-open.org/wsn/brw-2">
  <import location="bw-2.wsdl" namespace="http://docs.oasis-open.org/wsn/bw-2">
    </import>
  <import location="rw-2.wsdl" namespace="http://docs.oasis-open.org/wsrf/rw-2">
    </import>
  <types>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2" xmlns:wsrf-bf="http://docs.oasis-open.org/wsrf/bf-2" xmlns:wsn-bw="http://docs.oasis-open.org/wsn/bw-2" xmlns:wsn-brw="http://docs.oasis-open.org/wsn/brw-2" xmlns:wsn-br="http://docs.oasis-open.org/wsn/br-2" xmlns:wsn-b="http://docs.oasis-open.org/wsn/b-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns="http://schemas.xmlsoap.org/wsdl/">
            
  <xsd:import namespace="http://docs.oasis-open.org/wsn/br-2" schemaLocation="br-2.xsd"/>
        
</xsd:schema>
  </types>
  <message name="DestroyRegistrationResponse">
    <part element="wsn-br:DestroyRegistrationResponse" name="DestroyRegistrationResponse">
    </part>
  </message>
  <message name="PublisherRegistrationRejectedFault">
    <part element="wsn-br:PublisherRegistrationRejectedFault" name="PublisherRegistrationRejectedFault">
    </part>
  </message>
  <message name="RegisterPublisherRequest">
    <part element="wsn-br:RegisterPublisher" name="RegisterPublisherRequest">
    </part>
  </message>
  <message name="ResourceNotDestroyedFault">
    <part element="wsn-br:ResourceNotDestroyedFault" name="ResourceNotDestroyedFault">
    </part>
  </message>
  <message name="DestroyRegistrationRequest">
    <part element="wsn-br:DestroyRegistration" name="DestroyRegistrationRequest">
    </part>
  </message>
  <message name="RegisterPublisherResponse">
    <part element="wsn-br:RegisterPublisherResponse" name="RegisterPublisherResponse">
    </part>
  </message>
  <message name="PublisherRegistrationFailedFault">
    <part element="wsn-br:PublisherRegistrationFailedFault" name="PublisherRegistrationFailedFault">
    </part>
  </message>
  <portType name="NotificationBroker">
    <operation name="Notify">
      <input message="wsn-bw:Notify">
    </input>
    </operation>
    <operation name="Subscribe">
      <input message="wsn-bw:SubscribeRequest">
    </input>
      <output message="wsn-bw:SubscribeResponse">
    </output>
      <fault message="wsn-bw:TopicNotSupportedFault" name="TopicNotSupportedFault">
    </fault>
      <fault message="wsn-bw:TopicExpressionDialectUnknownFault" name="TopicExpressionDialectUnknownFault">
    </fault>
      <fault message="wsn-bw:InvalidFilterFault" name="InvalidFilterFault">
    </fault>
      <fault message="wsn-bw:UnacceptableInitialTerminationTimeFault" name="UnacceptableInitialTerminationTimeFault">
    </fault>
      <fault message="wsn-bw:SubscribeCreationFailedFault" name="SubscribeCreationFailedFault">
    </fault>
      <fault message="wsn-bw:InvalidMessageContentExpressionFault" name="InvalidMessageContentExpressionFault">
    </fault>
      <fault message="wsn-bw:InvalidTopicExpressionFault" name="InvalidTopicExpressionFault">
    </fault>
      <fault message="wsn-bw:UnsupportedPolicyRequestFault" name="UnsupportedPolicyRequestFault">
    </fault>
      <fault message="wsn-bw:UnrecognizedPolicyRequestFault" name="UnrecognizedPolicyRequestFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault">
    </fault>
      <fault message="wsn-bw:NotifyMessageNotSupportedFault" name="NotifyMessageNotSupportedFault">
    </fault>
      <fault message="wsn-bw:InvalidProducerPropertiesExpressionFault" name="InvalidProducerPropertiesExpressionFault">
    </fault>
    </operation>
    <operation name="GetCurrentMessage">
      <input message="wsn-bw:GetCurrentMessageRequest">
    </input>
      <output message="wsn-bw:GetCurrentMessageResponse">
    </output>
      <fault message="wsn-bw:TopicNotSupportedFault" name="TopicNotSupportedFault">
    </fault>
      <fault message="wsn-bw:TopicExpressionDialectUnknownFault" name="TopicExpressionDialectUnknownFault">
    </fault>
      <fault message="wsn-bw:MultipleTopicsSpecifiedFault" name="MultipleTopicsSpecifiedFault">
    </fault>
      <fault message="wsn-bw:InvalidTopicExpressionFault" name="InvalidTopicExpressionFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault">
    </fault>
      <fault message="wsn-bw:NoCurrentMessageOnTopicFault" name="NoCurrentMessageOnTopicFault">
    </fault>
    </operation>
    <operation name="RegisterPublisher">
      <input message="wsn-brw:RegisterPublisherRequest">
    </input>
      <output message="wsn-brw:RegisterPublisherResponse">
    </output>
      <fault message="wsn-brw:PublisherRegistrationFailedFault" name="PublisherRegistrationFailedFault">
    </fault>
      <fault message="wsn-bw:TopicNotSupportedFault" name="TopicNotSupportedFault">
    </fault>
      <fault message="wsn-bw:UnacceptableInitialTerminationTimeFault" name="UnacceptableInitialTerminationTimeFault">
    </fault>
      <fault message="wsn-bw:InvalidTopicExpressionFault" name="InvalidTopicExpressionFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault">
    </fault>
      <fault message="wsn-brw:PublisherRegistrationRejectedFault" name="PublisherRegistrationRejectedFault">
    </fault>
    </operation>
  </portType>
  <portType name="PublisherRegistrationManager">
    <operation name="DestroyRegistration">
      <input message="wsn-brw:DestroyRegistrationRequest" name="DestroyRegistrationRequest">
    </input>
      <output message="wsn-brw:DestroyRegistrationResponse" name="DestroyRegistrationResponse">
    </output>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault">
    </fault>
      <fault message="wsn-brw:ResourceNotDestroyedFault" name="ResourceNotDestroyedFault">
    </fault>
    </operation>
  </portType>
  <portType name="RegisterPublisher">
    <operation name="RegisterPublisher">
      <input message="wsn-brw:RegisterPublisherRequest">
    </input>
      <output message="wsn-brw:RegisterPublisherResponse">
    </output>
      <fault message="wsn-brw:PublisherRegistrationFailedFault" name="PublisherRegistrationFailedFault">
    </fault>
      <fault message="wsn-bw:TopicNotSupportedFault" name="TopicNotSupportedFault">
    </fault>
      <fault message="wsn-bw:UnacceptableInitialTerminationTimeFault" name="UnacceptableInitialTerminationTimeFault">
    </fault>
      <fault message="wsn-bw:InvalidTopicExpressionFault" name="InvalidTopicExpressionFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault">
    </fault>
      <fault message="wsn-brw:PublisherRegistrationRejectedFault" name="PublisherRegistrationRejectedFault">
    </fault>
    </operation>
  </portType>
</definitions>