src/main/resources/wsdl/rpw-2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2" xmlns:wsrf-rpw="http://docs.oasis-open.org/wsrf/rpw-2" xmlns:wsrf-rp="http://docs.oasis-open.org/wsrf/rp-2" xmlns:wsrf-bf="http://docs.oasis-open.org/wsrf/bf-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns="http://schemas.xmlsoap.org/wsdl/" name="WS-ResourceProperties" targetNamespace="http://docs.oasis-open.org/wsrf/rpw-2">
  <import location="rw-2.wsdl" namespace="http://docs.oasis-open.org/wsrf/rw-2">
    </import>
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2" xmlns:wsrf-rpw="http://docs.oasis-open.org/wsrf/rpw-2" xmlns:wsrf-rp="http://docs.oasis-open.org/wsrf/rp-2" xmlns:wsrf-bf="http://docs.oasis-open.org/wsrf/bf-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns="http://schemas.xmlsoap.org/wsdl/">
            
  <xsd:import namespace="http://docs.oasis-open.org/wsrf/rp-2" schemaLocation="rp-2.xsd"/>
        
</xsd:schema>
  </types>
  <message name="DeleteResourcePropertiesRequestFailedFault">
    <part element="wsrf-rp:DeleteResourcePropertiesRequestFailedFault" name="DeleteResourcePropertiesRequestFailedFault">
    </part>
  </message>
  <message name="SetResourcePropertiesResponse">
    <part element="wsrf-rp:SetResourcePropertiesResponse" name="SetResourcePropertiesResponse">
    </part>
  </message>
  <message name="InvalidModificationFault">
    <part element="wsrf-rp:InvalidModificationFault" name="InvalidModificationFault">
    </part>
  </message>
  <message name="GetResourcePropertyDocumentRequest">
    <part element="wsrf-rp:GetResourcePropertyDocument" name="GetResourcePropertyDocumentRequest">
    </part>
  </message>
  <message name="GetResourcePropertyRequest">
    <part element="wsrf-rp:GetResourceProperty" name="GetResourcePropertyRequest">
    </part>
  </message>
  <message name="InsertResourcePropertiesRequest">
    <part element="wsrf-rp:InsertResourceProperties" name="InsertResourcePropertiesRequest">
    </part>
  </message>
  <message name="PutResourcePropertyDocumentRequest">
    <part element="wsrf-rp:PutResourcePropertyDocument" name="PutResourcePropertyDocumentRequest">
    </part>
  </message>
  <message name="GetResourcePropertyDocumentResponse">
    <part element="wsrf-rp:GetResourcePropertyDocumentResponse" name="GetResourcePropertyDocumentResponse">
    </part>
  </message>
  <message name="UnknownQueryExpressionDialectFault">
    <part element="wsrf-rp:UnknownQueryExpressionDialectFault" name="UnknownQueryExpressionDialectFault">
    </part>
  </message>
  <message name="InsertResourcePropertiesRequestFailedFault">
    <part element="wsrf-rp:InsertResourcePropertiesRequestFailedFault" name="InsertResourcePropertiesRequestFailedFault">
    </part>
  </message>
  <message name="InvalidQueryExpressionFault">
    <part element="wsrf-rp:InvalidQueryExpressionFault" name="InvalidQueryExpressionFault">
    </part>
  </message>
  <message name="GetResourcePropertyResponse">
    <part element="wsrf-rp:GetResourcePropertyResponse" name="GetResourcePropertyResponse">
    </part>
  </message>
  <message name="PutResourcePropertyDocumentResponse">
    <part element="wsrf-rp:PutResourcePropertyDocumentResponse" name="PutResourcePropertyDocumentResponse">
    </part>
  </message>
  <message name="SetResourcePropertyRequestFailedFault">
    <part element="wsrf-rp:SetResourcePropertyRequestFailedFault" name="SetResourcePropertyRequestFailedFault">
    </part>
  </message>
  <message name="UnableToPutResourcePropertyDocumentFault">
    <part element="wsrf-rp:UnableToPutResourcePropertyDocumentFault" name="UnableToPutResourcePropertyDocumentFault">
    </part>
  </message>
  <message name="UpdateResourcePropertiesRequest">
    <part element="wsrf-rp:UpdateResourceProperties" name="UpdateResourcePropertiesRequest">
    </part>
  </message>
  <message name="QueryResourcePropertiesResponse">
    <part element="wsrf-rp:QueryResourcePropertiesResponse" name="QueryResourcePropertiesResponse">
    </part>
  </message>
  <message name="QueryResourcePropertiesRequest">
    <part element="wsrf-rp:QueryResourceProperties" name="QueryResourcePropertiesRequest">
    </part>
  </message>
  <message name="QueryEvaluationErrorFault">
    <part element="wsrf-rp:QueryEvaluationErrorFault" name="QueryEvaluationErrorFault">
    </part>
  </message>
  <message name="InvalidResourcePropertyQNameFault">
    <part element="wsrf-rp:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault">
    </part>
  </message>
  <message name="UpdateResourcePropertiesRequestFailedFault">
    <part element="wsrf-rp:UpdateResourcePropertiesRequestFailedFault" name="UpdateResourcePropertiesRequestFailedFault">
    </part>
  </message>
  <message name="GetMultipleResourcePropertiesRequest">
    <part element="wsrf-rp:GetMultipleResourceProperties" name="GetMultipleResourcePropertiesRequest">
    </part>
  </message>
  <message name="GetMultipleResourcePropertiesResponse">
    <part element="wsrf-rp:GetMultipleResourcePropertiesResponse" name="GetMultipleResourcePropertiesResponse">
    </part>
  </message>
  <message name="DeleteResourcePropertiesResponse">
    <part element="wsrf-rp:DeleteResourcePropertiesResponse" name="DeleteResourcePropertiesResponse">
    </part>
  </message>
  <message name="UnableToModifyResourcePropertyFault">
    <part element="wsrf-rp:UnableToModifyResourcePropertyFault" name="UnableToModifyResourcePropertyFault">
    </part>
  </message>
  <message name="InsertResourcePropertiesResponse">
    <part element="wsrf-rp:InsertResourcePropertiesResponse" name="InsertResourcePropertiesResponse">
    </part>
  </message>
  <message name="SetResourcePropertiesRequest">
    <part element="wsrf-rp:SetResourceProperties" name="SetResourcePropertiesRequest">
    </part>
  </message>
  <message name="UpdateResourcePropertiesResponse">
    <part element="wsrf-rp:UpdateResourcePropertiesResponse" name="UpdateResourcePropertiesResponse">
    </part>
  </message>
  <message name="DeleteResourcePropertiesRequest">
    <part element="wsrf-rp:DeleteResourceProperties" name="DeleteResourcePropertiesRequest">
    </part>
  </message>
  <portType name="InsertResourceProperties">
    <operation name="InsertResourceProperties">
      <input message="wsrf-rpw:InsertResourcePropertiesRequest" name="InsertResourcePropertiesRequest">
    </input>
      <output message="wsrf-rpw:InsertResourcePropertiesResponse" name="InsertResourcePropertiesResponse">
    </output>
      <fault message="wsrf-rpw:InsertResourcePropertiesRequestFailedFault" name="InsertResourcePropertiesRequestFailedFault">
    </fault>
      <fault message="wsrf-rpw:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault">
    </fault>
      <fault message="wsrf-rpw:InvalidModificationFault" name="InvalidModificationFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault">
    </fault>
      <fault message="wsrf-rpw:UnableToModifyResourcePropertyFault" name="UnableToModifyResourcePropertyFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnavailableFault" name="ResourceUnavailableFault">
    </fault>
    </operation>
  </portType>
  <portType name="PutResourcePropertyDocument">
    <operation name="PutResourcePropertyDocument">
      <input message="wsrf-rpw:PutResourcePropertyDocumentRequest" name="PutResourcePropertyDocumentRequest">
    </input>
      <output message="wsrf-rpw:PutResourcePropertyDocumentResponse" name="PutResourcePropertyDocumentResponse">
    </output>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault">
    </fault>
      <fault message="wsrf-rpw:UnableToPutResourcePropertyDocumentFault" name="UnableToPutResourcePropertyDocumentFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnavailableFault" name="ResourceUnavailableFault">
    </fault>
    </operation>
  </portType>
  <portType name="GetMultipleResourceProperties">
    <operation name="GetMultipleResourceProperties">
      <input message="wsrf-rpw:GetMultipleResourcePropertiesRequest" name="GetMultipleResourcePropertiesRequest">
    </input>
      <output message="wsrf-rpw:GetMultipleResourcePropertiesResponse" name="GetMultipleResourcePropertiesResponse">
    </output>
      <fault message="wsrf-rpw:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnavailableFault" name="ResourceUnavailableFault">
    </fault>
    </operation>
  </portType>
  <portType name="UpdateResourceProperties">
    <operation name="UpdateResourceProperties">
      <input message="wsrf-rpw:UpdateResourcePropertiesRequest" name="UpdateResourcePropertiesRequest">
    </input>
      <output message="wsrf-rpw:UpdateResourcePropertiesResponse" name="UpdateResourcePropertiesResponse">
    </output>
      <fault message="wsrf-rpw:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault">
    </fault>
      <fault message="wsrf-rpw:InvalidModificationFault" name="InvalidModificationFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault">
    </fault>
      <fault message="wsrf-rpw:UnableToModifyResourcePropertyFault" name="UnableToModifyResourcePropertyFault">
    </fault>
      <fault message="wsrf-rpw:UpdateResourcePropertiesRequestFailedFault" name="UpdateResourcePropertiesRequestFailedFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnavailableFault" name="ResourceUnavailableFault">
    </fault>
    </operation>
  </portType>
  <portType name="GetResourceProperty">
    <operation name="GetResourceProperty">
      <input message="wsrf-rpw:GetResourcePropertyRequest" name="GetResourcePropertyRequest">
    </input>
      <output message="wsrf-rpw:GetResourcePropertyResponse" name="GetResourcePropertyResponse">
    </output>
      <fault message="wsrf-rpw:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnavailableFault" name="ResourceUnavailableFault">
    </fault>
    </operation>
  </portType>
  <portType name="DeleteResourceProperties">
    <operation name="DeleteResourceProperties">
      <input message="wsrf-rpw:DeleteResourcePropertiesRequest" name="DeleteResourcePropertiesRequest">
    </input>
      <output message="wsrf-rpw:DeleteResourcePropertiesResponse" name="DeleteResourcePropertiesResponse">
    </output>
      <fault message="wsrf-rpw:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault">
    </fault>
      <fault message="wsrf-rpw:InvalidModificationFault" name="InvalidModificationFault">
    </fault>
      <fault message="wsrf-rpw:DeleteResourcePropertiesRequestFailedFault" name="DeleteResourcePropertiesRequestFailedFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault">
    </fault>
      <fault message="wsrf-rpw:UnableToModifyResourcePropertyFault" name="UnableToModifyResourcePropertyFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnavailableFault" name="ResourceUnavailableFault">
    </fault>
    </operation>
  </portType>
  <portType name="SetResourceProperties">
    <operation name="SetResourceProperties">
      <input message="wsrf-rpw:SetResourcePropertiesRequest" name="SetResourcePropertiesRequest">
    </input>
      <output message="wsrf-rpw:SetResourcePropertiesResponse" name="SetResourcePropertiesResponse">
    </output>
      <fault message="wsrf-rpw:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault">
    </fault>
      <fault message="wsrf-rpw:InvalidModificationFault" name="InvalidModificationFault">
    </fault>
      <fault message="wsrf-rpw:SetResourcePropertyRequestFailedFault" name="SetResourcePropertyRequestFailedFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault">
    </fault>
      <fault message="wsrf-rpw:UnableToModifyResourcePropertyFault" name="UnableToModifyResourcePropertyFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnavailableFault" name="ResourceUnavailableFault">
    </fault>
    </operation>
  </portType>
  <portType name="GetResourcePropertyDocument">
    <operation name="GetResourcePropertyDocument">
      <input message="wsrf-rpw:GetResourcePropertyDocumentRequest" name="GetResourcePropertyDocumentRequest">
    </input>
      <output message="wsrf-rpw:GetResourcePropertyDocumentResponse" name="GetResourcePropertyDocumentResponse">
    </output>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnavailableFault" name="ResourceUnavailableFault">
    </fault>
    </operation>
  </portType>
  <portType name="QueryResourceProperties" wsrf-rp:ResourceProperties="wsrf-rp:QueryExpressionRPDocument">
    <operation name="QueryResourceProperties">
      <input message="wsrf-rpw:QueryResourcePropertiesRequest" name="QueryResourcePropertiesRequest">
    </input>
      <output message="wsrf-rpw:QueryResourcePropertiesResponse" name="QueryResourcePropertiesResponse">
    </output>
      <fault message="wsrf-rpw:UnknownQueryExpressionDialectFault" name="UnknownQueryExpressionDialectFault">
    </fault>
      <fault message="wsrf-rpw:QueryEvaluationErrorFault" name="QueryEvaluationErrorFault">
    </fault>
      <fault message="wsrf-rpw:InvalidQueryExpressionFault" name="InvalidQueryExpressionFault">
    </fault>
      <fault message="wsrf-rpw:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault">
    </fault>
      <fault message="wsrf-rw:ResourceUnavailableFault" name="ResourceUnavailableFault">
    </fault>
    </operation>
  </portType>
</definitions>