src/main/resources/wsdl/SubscriptionManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2" xmlns:wsrf-rpw="http://docs.oasis-open.org/wsrf/rpw-2" xmlns:wsrf-bf="http://docs.oasis-open.org/wsrf/bf-2" xmlns:wsn-bw="http://docs.oasis-open.org/wsn/bw-2" xmlns:wsn-brw="http://docs.oasis-open.org/wsn/brw-2" xmlns:wsn-br="http://docs.oasis-open.org/wsn/br-2" xmlns:wsn-b="http://docs.oasis-open.org/wsn/b-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:tns="http://cxf.apache.org/wsn/jaxws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="CXF-WS-BrokeredNotification" targetNamespace="http://cxf.apache.org/wsn/jaxws">
  <import location="rpw-2.wsdl" namespace="http://docs.oasis-open.org/wsrf/rpw-2">
    </import>
  <import location="bw-2.wsdl" namespace="http://docs.oasis-open.org/wsn/bw-2">
    </import>
  <import location="brw-2.wsdl" namespace="http://docs.oasis-open.org/wsn/brw-2">
    </import>
  <binding name="PublisherRegistrationManagerSoap" type="wsn-brw:PublisherRegistrationManager">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="DestroyRegistration">
      <input name="DestroyRegistrationRequest">
        <soap:body use="literal"/>
      </input>
      <output name="DestroyRegistrationResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
      <fault name="ResourceNotDestroyedFault">
        <soap:fault name="ResourceNotDestroyedFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <binding name="SubscriptionManagerSoap" type="wsn-bw:SubscriptionManager">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Renew">
      <input name="RenewRequest">
        <soap:body use="literal"/>
      </input>
      <output name="RenewResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
      <fault name="UnacceptableTerminationTimeFault">
        <soap:fault name="UnacceptableTerminationTimeFault" use="literal"/>
      </fault>
    </operation>
    <operation name="Unsubscribe">
      <input name="UnsubscribeRequest">
        <soap:body use="literal"/>
      </input>
      <output name="UnsubscribeResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="UnableToDestroySubscriptionFault">
        <soap:fault name="UnableToDestroySubscriptionFault" use="literal"/>
      </fault>
      <fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <binding name="NotificationProducerSoap" type="wsn-bw:NotificationProducer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Subscribe">
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="TopicNotSupportedFault">
        <soap:fault name="TopicNotSupportedFault" use="literal"/>
      </fault>
      <fault name="TopicExpressionDialectUnknownFault">
        <soap:fault name="TopicExpressionDialectUnknownFault" use="literal"/>
      </fault>
      <fault name="InvalidFilterFault">
        <soap:fault name="InvalidFilterFault" use="literal"/>
      </fault>
      <fault name="UnacceptableInitialTerminationTimeFault">
        <soap:fault name="UnacceptableInitialTerminationTimeFault" use="literal"/>
      </fault>
      <fault name="SubscribeCreationFailedFault">
        <soap:fault name="SubscribeCreationFailedFault" use="literal"/>
      </fault>
      <fault name="InvalidMessageContentExpressionFault">
        <soap:fault name="InvalidMessageContentExpressionFault" use="literal"/>
      </fault>
      <fault name="InvalidTopicExpressionFault">
        <soap:fault name="InvalidTopicExpressionFault" use="literal"/>
      </fault>
      <fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
      <fault name="InvalidProducerPropertiesExpressionFault">
        <soap:fault name="InvalidProducerPropertiesExpressionFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCurrentMessage">
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="TopicNotSupportedFault">
        <soap:fault name="TopicNotSupportedFault" use="literal"/>
      </fault>
      <fault name="TopicExpressionDialectUnknownFault">
        <soap:fault name="TopicExpressionDialectUnknownFault" use="literal"/>
      </fault>
      <fault name="InvalidTopicExpressionFault">
        <soap:fault name="InvalidTopicExpressionFault" use="literal"/>
      </fault>
      <fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
      <fault name="NoCurrentMessageOnTopicFault">
        <soap:fault name="NoCurrentMessageOnTopicFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <binding name="NotificationConsumerSoap" type="wsn-bw:NotificationConsumer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Notify">
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <binding name="GetResourcePropertySoap" type="wsrf-rpw:GetResourceProperty">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetResourceProperty">
      <input name="GetResourcePropertyRequest">
        <soap:body use="literal"/>
      </input>
      <output name="GetResourcePropertyResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidResourcePropertyQNameFault">
        <soap:fault name="InvalidResourcePropertyQNameFault" use="literal"/>
      </fault>
      <fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
      <fault name="ResourceUnavailableFault">
        <soap:fault name="ResourceUnavailableFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <binding name="PausableSubscriptionManagerSoap" type="wsn-bw:PausableSubscriptionManager">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Renew">
      <input name="RenewRequest">
        <soap:body use="literal"/>
      </input>
      <output name="RenewResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
      <fault name="UnacceptableTerminationTimeFault">
        <soap:fault name="UnacceptableTerminationTimeFault" use="literal"/>
      </fault>
    </operation>
    <operation name="Unsubscribe">
      <input name="UnsubscribeRequest">
        <soap:body use="literal"/>
      </input>
      <output name="UnsubscribeResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="UnableToDestroySubscriptionFault">
        <soap:fault name="UnableToDestroySubscriptionFault" use="literal"/>
      </fault>
      <fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PauseSubscription">
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="PauseFailedFault">
        <soap:fault name="PauseFailedFault" use="literal"/>
      </fault>
      <fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
    </operation>
    <operation name="ResumeSubscription">
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
      <fault name="ResumeFailedFault">
        <soap:fault name="ResumeFailedFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <binding name="PullPointSoap" type="wsn-bw:PullPoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetMessages">
      <input name="GetMessagesRequest">
        <soap:body use="literal"/>
      </input>
      <output name="GetMessagesResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
    </operation>
    <operation name="DestroyPullPoint">
      <input name="DestroyPullPointRequest">
        <soap:body use="literal"/>
      </input>
      <output name="DestroyPullPointResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="UnableToDestroyPullPointFault">
        <soap:fault name="UnableToDestroyPullPointFault" use="literal"/>
      </fault>
    </operation>
    <operation name="Notify">
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <binding name="NotificationBrokerSoap" type="wsn-brw:NotificationBroker">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Notify">
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="Subscribe">
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="TopicNotSupportedFault">
        <soap:fault name="TopicNotSupportedFault" use="literal"/>
      </fault>
      <fault name="TopicExpressionDialectUnknownFault">
        <soap:fault name="TopicExpressionDialectUnknownFault" use="literal"/>
      </fault>
      <fault name="InvalidFilterFault">
        <soap:fault name="InvalidFilterFault" use="literal"/>
      </fault>
      <fault name="UnacceptableInitialTerminationTimeFault">
        <soap:fault name="UnacceptableInitialTerminationTimeFault" use="literal"/>
      </fault>
      <fault name="SubscribeCreationFailedFault">
        <soap:fault name="SubscribeCreationFailedFault" use="literal"/>
      </fault>
      <fault name="InvalidMessageContentExpressionFault">
        <soap:fault name="InvalidMessageContentExpressionFault" use="literal"/>
      </fault>
      <fault name="InvalidTopicExpressionFault">
        <soap:fault name="InvalidTopicExpressionFault" use="literal"/>
      </fault>
      <fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
      <fault name="InvalidProducerPropertiesExpressionFault">
        <soap:fault name="InvalidProducerPropertiesExpressionFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCurrentMessage">
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="TopicNotSupportedFault">
        <soap:fault name="TopicNotSupportedFault" use="literal"/>
      </fault>
      <fault name="TopicExpressionDialectUnknownFault">
        <soap:fault name="TopicExpressionDialectUnknownFault" use="literal"/>
      </fault>
      <fault name="MultipleTopicsSpecifiedFault">
        <soap:fault name="MultipleTopicsSpecifiedFault" use="literal"/>
      </fault>
      <fault name="InvalidTopicExpressionFault">
        <soap:fault name="InvalidTopicExpressionFault" use="literal"/>
      </fault>
      <fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
      <fault name="NoCurrentMessageOnTopicFault">
        <soap:fault name="NoCurrentMessageOnTopicFault" use="literal"/>
      </fault>
    </operation>
    <operation name="RegisterPublisher">
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="PublisherRegistrationFailedFault">
        <soap:fault name="PublisherRegistrationFailedFault" use="literal"/>
      </fault>
      <fault name="TopicNotSupportedFault">
        <soap:fault name="TopicNotSupportedFault" use="literal"/>
      </fault>
      <fault name="InvalidTopicExpressionFault">
        <soap:fault name="InvalidTopicExpressionFault" use="literal"/>
      </fault>
      <fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
      <fault name="PublisherRegistrationRejectedFault">
        <soap:fault name="PublisherRegistrationRejectedFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <binding name="CreatePullPointSoap" type="wsn-bw:CreatePullPoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CreatePullPoint">
      <input name="CreatePullPointRequest">
        <soap:body use="literal"/>
      </input>
      <output name="CreatePullPointResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="UnableToCreatePullPointFault">
        <soap:fault name="UnableToCreatePullPointFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="PublisherRegistrationManagerService">
    <port binding="tns:PublisherRegistrationManagerSoap" name="PublisherRegistrationManagerPort">
      <soap:address location="http://n2.qlf.canaltrain.sncf.fr:8184/wsn/AnonymousPublisher"/>
    </port>
  </service>
  <service name="PullPointService">
    <port binding="tns:PullPointSoap" name="PullPointPort">
      <soap:address location="http://cxf.apache.org/wsnotification"/>
    </port>
  </service>
  <service name="SubscriptionManagerService">
    <port binding="tns:SubscriptionManagerSoap" name="SubscriptionManagerPort">
      <soap:address location="http://n2.qlf.canaltrain.sncf.fr:8184/wsn/SubscriptionManager"/>
    </port>
  </service>
  <service name="NotificationProducerService">
    <port binding="tns:NotificationProducerSoap" name="NotificationProducerPort">
      <soap:address location="http://cxf.apache.org/wsnotification"/>
    </port>
  </service>
  <service name="NotificationConsumerService">
    <port binding="tns:NotificationConsumerSoap" name="NotificationConsumerPort">
      <soap:address location="http://x64lmwbiodb.dsit.sncf.fr/wsn/SuiviMissionConsumer"/>
    </port>
  </service>
  <service name="CreatePullPointService">
    <port binding="tns:CreatePullPointSoap" name="CreatePullPointPort">
      <soap:address location="http://n2.qlf.canaltrain.sncf.fr:8184/wsn/CreatePullPoint"/>
    </port>
  </service>
  <service name="PausableSubscriptionManagerService">
    <port binding="tns:PausableSubscriptionManagerSoap" name="PausableSubscriptionManagerPort">
      <soap:address location="http://n2.qlf.canaltrain.sncf.fr:8184/wsn/subscriptions/ID-10-149-58-105-1556ec33a0a-0-1"/>
    </port>
  </service>
  <service name="NotificationBrokerService">
    <port binding="tns:NotificationBrokerSoap" name="NotificationBrokerPort">
      <soap:address location="http://n2.qlf.canaltrain.sncf.fr:8184/wsn/NotificationBroker"/>
    </port>
  </service>
  <service name="GetResourcePropertyService">
    <port binding="tns:GetResourcePropertySoap" name="GetResourcePropertyPort">
      <soap:address location="http://cxf.apache.org/wsnotification"/>
    </port>
  </service>
</definitions>